<h1>Tất Cả Danh Mục sản phẩm</h1>
<a href="/admin/createCategory" class="btn btn-primary mb-3">Thêm mới</a>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Mô Tả</th>
      <th>Hình Ảnh</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(category=> { %>
      <tr>
        <td>
          <%= category.name %>
        </td>
        <td>
          <%- category.Description.length> 50 ? category.Description.substring(0, 50) + '...' : category.Description %>
        </td>
        <td>
          <img src="data:image/jpeg;base64,<%= category.imageUrl %>" alt="product image"
            style="width: 50px; height: 50px;">
        </td>
        <td>
          <a href="/admin/editcategory/<%= category.id %>" class="btn btn-warning">Sửa</a>
          <button class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteModal<%= category.id %>">Xóa</button>

          <!-- Delete Confirmation Modal -->
          <div class="modal fade" id="deleteModal<%= category.id %>" tabindex="-1" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Xóa danh mục</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  bạn có muốn xóa sản phẩm này "<%= category.name %>"?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                  <form action="/admin/categories/<%= category.id %>/delete" method="POST" class="d-inline">
                    <input type="hidden" name="authToken" id="authToken">
                    <button type="submit" class="btn btn-danger">Đồng ý xóa</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>

<script>
  const token = localStorage.getItem('authToken');
  if (token) {
    // Gán token vào input ẩn
    document.getElementById('authToken').value = token;
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>