<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(/client/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url(/client/images/bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt" style="margin-top: 18px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 order-md-last align-items-stretch d-flex">
            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
              style="background-image: url(/client/images/category.jpg);">
              <div class="text text-center">
                <h2>Hoa quả sạch</h2>
                <p>Bảo vệ sức khỏe cho thành viên gia đình </p>
                <p><a href="#" class="btn btn-primary">Mua ngay</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
              style="background-image: url(/client/images/category-1.jpg);">
              <div class="text px-3 py-1">
                <h2 class="mb-0"><a href="#">Fruits</a></h2>
              </div>
            </div>
            <div class="category-wrap ftco-animate img d-flex align-items-end"
              style="background-image: url(/client/images/category-2.jpg);">
              <div class="text px-3 py-1">
                <h2 class="mb-0"><a href="#">Vegetables</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
          style="background-image: url(/client/images/category-3.jpg);">
          <div class="text px-3 py-1">
            <h2 class="mb-0"><a href="#">Juices</a></h2>
          </div>
        </div>
        <div class="category-wrap ftco-animate img d-flex align-items-end"
          style="background-image: url(/client/images/category-4.jpg);">
          <div class="text px-3 py-1">
            <h2 class="mb-0"><a href="#">Dried</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Sẳn phẩm nổi bật</span>
        <h2 class="mb-4">Các sản phẩm của chúng tôi</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <% trendingProducts.forEach(product=> { %>
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="product">
            <a href="/productdetail/<%= product.id %>" class="img-prod">
              <% const image=product.images[0]?.url; const isHttp=image?.startsWith('http'); const src=image ? (isHttp ?
                image : `data:image/png;base64,${image}`) : '/client/images/default-product.jpg' ; %>
                <img class="img-fluid" src="<%= src %>" alt="<%= product.name %>">
                <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a href="/productdetail/<%= product.id %>">
                  <%= product.name %>
                </a></h3>
              <div class="d-flex">
                <div class="pricing">

                  <p class="price">
                    <% if (product.discountprice) { %>
                      <span class="mr-2 price-dc">$<%= product.price %></span>
                      <span class="price-sale">$<%= product.discountprice %></span>
                      <% } else { %>
                        <span>
                          <%= product.price.toLocaleString('vi-VN') %> VND
                        </span>
                        <% } %>
                  </p>
                </div>
              </div>
              <div class="bottom-area d-flex px-3">
                <div class="m-auto d-flex">
                  <a href="javascript:void(0)" class="buy-now d-flex justify-content-center align-items-center mx-1"
                    onclick="addToCart('<%= product.id %>', '<%= product.name %>', '<%= product.price %>', 
                      '<%= product.discountprice ? product.discountprice : 'null' %>', 
                      '<%= product.stock ? product.stock : '0' %>' ,'<%= product.images[0].url %>')">
                    <span><i class="ion-ios-cart"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
          <!-- end region -->

    </div>
  </div>
</section>


<%- include('../layouts/partials/infor') %>

  <hr>

  <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-6">
          <h2 style="font-size: 22px;" class="mb-0">Đăng kí nhận bản tin của chúng tôi</h2>
          <span>Nhận thông tin cập nhật qua email về các cửa hàng mới nhất và các ưu đãi đặc biệt của chúng tôi
          </span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" class="form-control" placeholder="Nhập địa chỉ email">
              <input type="submit" value="Subscribe" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>