<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-pwa="true">
<!-- Mirrored from cartzilla.createx.studio/checkout-v1-thankyou.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Sep 2024 06:29:47 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">

    <!-- Viewport -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <!-- SEO Meta Tags -->
    <title>Cartzilla | Checkout v.1 - Thank You Page</title>
    <meta name="description" content="Cartzilla - Multipurpose Bootstrap E-Commerce HTML Template">
    <meta name="keywords"
        content="online shop, e-commerce, online store, market, multipurpose, product landing, cart, checkout, ui kit, light and dark mode, bootstrap, html5, css3, javascript, gallery, slider, mobile, pwa">
    <meta name="author" content="Createx Studio">

    <!-- Webmanifest + Favicon / App icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" href="/client2/assets/app-icons/icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/client2/assets/app-icons/icon-180x180.png">

    <!-- Theme switcher (color modes) -->
    <script src="/client2/assets/js/theme-switcher.js"></script>

    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="/client2/assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2"
        crossorigin="">

    <!-- Font icons -->
    <link rel="preload" href="/client2/assets/icons/cartzilla-icons.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="/client2/assets/icons/cartzilla-icons.min.css">

    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="/client2/assets/css/theme.min.css" as="style">
    <link rel="preload" href="/client2/assets/css/theme.rtl.min.css" as="style">
    <!-- <link rel="stylesheet" href="/client2/assets/css/theme.min.css" id="theme-styles"> -->

    <!-- Customizer -->
    <script src="/client2/assets/js/customizer.min.js"></script>
</head>


<!-- Body -->

<body>
    <main class="content-wrapper">
        <div class="row row-cols-1 row-cols-lg-2 g-0 mx-auto" style="max-width: 1920px">

            <!-- Tank you content column -->
            <div class="col d-flex flex-column justify-content-center py-5 px-xl-4 px-xxl-5">
                <div class="w-100 pt-sm-2 pt-md-3 pt-lg-4 pb-lg-4 pb-xl-5 px-3 px-sm-4 pe-lg-0 ps-lg-5 mx-auto ms-lg-auto me-lg-4"
                    style="max-width: 740px">
                    <div class="d-flex align-items-sm-center border-bottom pb-4 pb-md-5">
                        <div class="d-flex align-items-center justify-content-center bg-success text-white rounded-circle flex-shrink-0"
                            style="width: 3rem; height: 3rem; margin-top: -.125rem">
                            <i class="ci-check fs-4"></i>
                        </div>
                        <div class="w-100 ps-3">
                            <div class="fs-sm mb-1">Order #<%= data.orderId %>
                            </div>
                            <div class="d-sm-flex align-items-center">
                                <h1 class="h4 mb-0 me-3">Thank you for your order!</h1>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-4 pt-3 pb-5 mt-3">
                        <div>
                            <h3 class="h6 mb-2">Delivery</h3>
                            <p class="fs-sm mb-0">
                                <%= data.address %> , <%= data.city %>
                                        <%= data.zipCode %>
                            </p>
                        </div>
                        <div>
                            <h3 class="h6 mb-2">Payment</h3>
                            <p class="fs-sm mb-0">Visa: **** **** **** <%= data.lastFourDigits %>
                            </p>
                        </div>
                    </div>
                    <div class="bg-success rounded px-4 py-4" style="--cz-bg-opacity: .2">
                        <div class="py-3">
                            <h2 class="h4 text-center pb-2 mb-1">🎉 Congratulations! 30% off your new purchase!</h2>
                            <p class="fs-sm text-center mb-4">Use the coupon now or look for it in your personal
                                account.</p>
                            <div class="d-flex gap-2 mx-auto" style="max-width: 500px">
                                <input type="text" class="form-control border-white border-opacity-10 w-100"
                                    id="couponCode" value="30%SALEOFF" readonly="">
                                <button type="button" class="btn btn-dark" data-copy-text-from="#couponCode">Copy
                                    coupon</button>
                            </div>
                        </div>
                    </div>
                    <p class="fs-sm pt-4 pt-md-5 mt-2 mt-sm-3 mt-md-0 mb-0">Need help?<a class="fw-medium ms-2"
                            href="#!">Contact
                            us</a></p>
                </div>
            </div>


            <!-- Related products -->
            <div class="col pt-sm-3 p-md-5 ps-lg-5 py-lg-4 pe-lg-4 p-xxl-5">
                <div class="position-relative d-flex align-items-center h-100 py-5 px-3 px-sm-4 px-xl-5">
                    <span
                        class="position-absolute top-0 start-0 w-100 h-100 bg-body-tertiary rounded-5 d-none d-md-block"></span>
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-tertiary d-md-none"></span>
                    <div class="position-relative w-100 z-2 mx-auto pb-2 pb-sm-3 pb-md-0" style="max-width: 636px">
                        <h2 class="h4 text-center pb-3">You may also like</h2>
                        <div class="row row-cols-2 g-3 g-sm-4 mb-4">

                            <!-- Item -->


                            <% productsrandom.forEach(function(product) { %>
                                <div class="col">
                                    <div
                                        class="product-card animate-underline hover-effect-opacity bg-body rounded shadow-none">
                                        <div class="position-relative">
                                            <div
                                                class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 mt-3 me-3">
                                                <div class="d-flex flex-column gap-2">
                                                    <button type="button"
                                                        class="btn btn-icon btn-secondary animate-pulse d-none d-lg-inline-flex"
                                                        aria-label="Add to Wishlist">
                                                        <i class="ci-heart fs-base animate-target"></i>
                                                    </button>
                                                    <button type="button"
                                                        class="btn btn-icon btn-secondary animate-rotate d-none d-lg-inline-flex"
                                                        aria-label="Compare">
                                                        <i class="ci-refresh-cw fs-base animate-target"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="dropdown d-lg-none position-absolute top-0 end-0 z-2 mt-2 me-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-secondary bg-body"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    aria-label="More actions">
                                                    <i class="ci-more-vertical fs-lg"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end fs-xs p-2"
                                                    style="min-width: auto">
                                                    <li>
                                                        <a class="dropdown-item" href="#!">
                                                            <i class="ci-heart fs-sm ms-n1 me-2"></i>
                                                            Add to Wishlist
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#!">
                                                            <i class="ci-refresh-cw fs-sm ms-n1 me-2"></i>
                                                            Compare
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a class="d-block rounded-top overflow-hidden p-3 p-sm-4"
                                                href="/productdetail/<%= product.id%>">
                                                <div class="ratio" style="--cz-aspect-ratio: calc(240 / 258 * 100%)">
                                                    <img src="<%= product.images[0].url %>" alt="iPhone 14">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="w-100 min-w-0 px-2 pb-2 px-sm-3 pb-sm-3">
                                            <div class="d-flex align-items-center gap-2 mb-2">
                                                <div class="d-flex gap-1 fs-xs">
                                                    <i class="ci-star-filled text-warning"></i>
                                                    <i class="ci-star-filled text-warning"></i>
                                                    <i class="ci-star-filled text-warning"></i>
                                                    <i class="ci-star-filled text-warning"></i>
                                                    <i class="ci-star-half text-warning"></i>
                                                </div>
                                                <span class="text-body-tertiary fs-xs">(<%= product.stock %>)</span>
                                            </div>
                                            <h3 class="pb-1 mb-2">
                                                <a class="d-block fs-sm fw-medium text-truncate"
                                                    href="/productdetail/<%= product.id%>">
                                                    <span class="animate-target">
                                                        <%= product.name %>
                                                    </span>
                                                </a>
                                            </h3>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="h5 lh-1 mb-0">$<%= product.price %>
                                                </div>
                                                <button type="button"
                                                    class="product-card-button btn btn-icon btn-secondary animate-slide-end ms-2"
                                                    aria-label="Add to Cart">
                                                    <i class="ci-shopping-cart fs-base animate-target"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <% }) %>



                            <a class="btn btn-lg btn-primary w-100" href="">
                                Continue shopping
                                <i class="ci-chevron-right fs-lg ms-1 me-n1"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </main>




    <!-- Back to top button -->
    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
        <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
            Top
            <i class="ci-arrow-right fs-base ms-1 me-n1 animate-target"></i>
            <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
            <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5"
                    stroke-miterlimit="10"></rect>
            </svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary text-uppercase bg-body rounded-pill shadow animate-rotate ms-2 me-n5"
            href="#customizer" style="font-size: .625rem; letter-spacing: .05rem;" data-bs-toggle="offcanvas"
            role="button" aria-controls="customizer">
            Customize<i class="ci-settings fs-base ms-1 me-n2 animate-target"></i>
        </a>
    </div>


    <!-- Bootstrap + Theme scripts -->
    <script src="/client2/assets/js/theme.min.js"></script>


</body>
<!-- Mirrored from cartzilla.createx.studio/checkout-v1-thankyou.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Sep 2024 06:29:47 GMT -->

</html>